<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.autowheel.bangbang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.autowheel.bangbang.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.activity.LoginActivity" />
        <activity android:name=".ui.user.activity.RegActivity" />
        <activity android:name=".ui.user.activity.VerifyActivity" />
        <activity android:name=".ui.index.activity.SearchActivity" />
        <activity android:name=".ui.user.activity.SettingsActivity" />
        <activity android:name=".ui.user.activity.AvatarActivity" />
        <activity android:name=".ui.user.activity.UserActivity" />
        <activity android:name=".ui.user.activity.UserEditActivity" />
        <activity android:name=".ui.note.activity.NoteDetailActivity" />
        <activity android:name=".ui.note.activity.NotePublishActivity" />
        <activity android:name=".ui.index.activity.PublishActivity" />
        <activity android:name=".ui.note.activity.NotePreviewActivity" />
        <activity
            android:name=".ui.msg.activity.ChatActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.user.activity.UserStudyActivity" />
        <activity android:name=".ui.user.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.user.activity.UserNoteActivity" />
        <activity android:name=".ui.user.activity.ChangePasswordActivity" />
        <activity android:name=".ui.user.activity.ChangeEmailActivity" />
        <activity android:name=".ui.user.activity.SafeCenterActivity" />
        <activity android:name=".ui.index.activity.DetailActivity" />
        <activity android:name=".ui.user.activity.UserCoachActivity" />
        <activity android:name=".ui.user.activity.UserCoachRecordActivity" />
        <activity android:name=".ui.user.activity.OrderActivity" />
        <activity android:name=".ui.note.activity.NoteSearchActivity" />
        <activity android:name=".ui.note.activity.NoteEditActivity" />
        <activity android:name=".ui.index.activity.EvaluateActivity" />
        <activity android:name=".ui.user.activity.UserEvaluateActivity" />
        <activity android:name=".ui.index.activity.EditActivity" />
        <activity android:name=".ui.index.activity.HelpActivity" />
        <activity android:name=".ui.index.activity.HelpApplyActivity" />
        <activity android:name=".ui.user.activity.UserHelpActivity" />
        <activity android:name=".ui.index.activity.HelpPickActivity" />
        <activity android:name=".ui.admin.activity.AdminMainActivity" />
        <activity android:name=".ui.admin.activity.AdminHelpAddActivity" />
        <activity android:name=".ui.admin.activity.AdminHelpApproveActivity" />
        <activity android:name=".ui.admin.activity.AdminHelpRewardActivity" />
        <activity android:name=".ui.admin.activity.AdminHelpRewardPickUpActivity" />
        <activity android:name=".ui.admin.activity.AdminHelpRewardHistoryActivity" />

        <service android:name=".service.MessageService" />
    </application>
</manifest>
